@using Amazon.Core.Models

   
    
        <div class="editor-label">Search Terms:</div>
        <div class="editor-field">
            <textarea class="k-textbox"
                      style="width: 260px"
                      rows="6"
                      data-bind="value: generateStyle.SearchTerms"></textarea>
            <div>symbols: <span data-bind="text: generateStyle.searchTermsLength"></span>/<span data-bind="text: generateStyle.searchTermsMaxLength"></span></div>
        </div>
		<div class="editor-label">WM Keywords:</div>
        <div class="editor-field">
            <textarea class="k-textbox"
                        style="width: 260px"
                        rows="6"
                        data-bind="value: generateStyle.WMKeywords"></textarea>
            <div>symbols: <span data-bind="text: generateStyle.WMKeywordsLength"></span>/<span data-bind="text: generateStyle.WMKeywordsMaxLength"></span></div>
        </div>
        <div class="clear"></div>
        <div style="margin-top: 20px">
            <div class="editor-label">Product Feature 1:</div>
            <div class="editor-field">
                <textarea class="k-textbox"
                          rows="6"
                          style="width: 260px"
                          data-bind="value: generateStyle.BulletPoint1"></textarea>
            </div>
            <div class="editor-label">Product Feature 2:</div>
            <div class="editor-field">
                <textarea class="k-textbox"
                          rows="6"
                          style="width: 260px"
                          data-bind="value: generateStyle.BulletPoint2"></textarea>
            </div>
            <div class="editor-label">Product Feature 3:</div>
            <div class="editor-field">
                <textarea class="k-textbox"
                          rows="6"
                          style="width: 260px"
                          data-bind="value: generateStyle.BulletPoint3"></textarea>
            </div>
            <div class="editor-label">Product Feature 4:</div>
            <div class="editor-field">
                <textarea class="k-textbox"
                          rows="6"
                          style="width: 260px"
                          data-bind="value: generateStyle.BulletPoint4"></textarea>
            </div>
            <div class="editor-label">Product Feature 5:</div>
            <div class="editor-field">
                <textarea class="k-textbox"
                          rows="6"
                          style="width: 260px"
                          data-bind="value: generateStyle.BulletPoint5"></textarea>
            </div>
        </div>
    

