@model Amazon.Web.ViewModels.Pages.StyleHistoryControlViewModel

<script type="text/javascript">

    var StyleHistoryViewModel = function(model, settings) {
        var self = this;

        self.model = model;
        self.settings = settings;

        self.isCollapsed = ko.observable(false);

        self.wasProcessed = ko.observable(false);
        self.isMessageMode = ko.observable(false);
        self.messageText = ko.observable("");

        self.changes = ko.observable([]);

        self.styleString = ko.observable();
        self.styleId = ko.observable(null);

        self.styleUrl = ko.observable(null);

        self.hasStyle = ko.computed(function() {
            return self.styleId() != null;
        });

        self.setHistoryStyleString = function(styleString) {
            console.log("history. setStyleString, styleString=" + styleString);

            if (self.styleString() == styleString) {
                console.log("skip. styleString the same");
                return;
            }

            self.clear();
            self.styleString(styleString);

            self.init();
        }

        self.init = function() {
            console.log("history.init");
            Message.clear();

            self.setMessage('Loading...');
            $.ajax({
                url: '@Url.Action("GetStyleHistory", "Inventory")',
                data: {
                    styleString: self.styleString()
                },
                success: function(result) {
                    if (result.IsSuccess) {
                        console.log("history.success");
                        self.showModel(result.Data);
                        self.setMessage(null);
                    } else {
                        self.setMessage("Style string not found");
                    }
                }
            });
        };

        self.clear = function() {
            self.styleString(null);
            self.styleId(null);
            self.styleUrl(null);

            self.changes([]);
        }

        self.showModel = function(model) {
            console.log("history.showModel");
            console.log(model);

            if (model.Changes != null && model.Changes.length > 0) {
                $.each(model.Changes, function(i, n) {
                    n.ChangeDate = ko.observable(kendo.parseDate(n.ChangeDate)).extend({
                        format: "MM/dd/yyyy HH:mm"
                    });
                    n.hasLink = ko.observable(!dataUtils.isEmpty(n.ValueUrl));
                    n.hasInfo = ko.observable(!dataUtils.isEmpty(n.Value) || !dataUtils.isEmpty(n.Message));
                    n.number = model.Changes.length - i;
                });
                
                self.styleString(model.StyleString);
                self.styleId(model.StyleId);
                self.styleUrl(model.StyleUrl);

                self.changes(model.Changes);
            } else {
                self.messageText('Style not found');
            }
        };

        self.onToggle = function() {
            self.isCollapsed(!self.isCollapsed());
        }
        
        self.setMessage = function(message) {
            if (message != null && message != '') {
                self.isMessageMode(true);
            } else {
                self.isMessageMode(false);
            }
            self.messageText(message);
        }

        self.setHistoryStyleString(model.StyleString);

        $.subscribe('stylestring-changed', function(e, styleString) { self.setHistoryStyleString(styleString); });
    };
</script>


<!-- ko stopBinding: true -->

<div id="style-history-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a style="color: #333"
               href="javascript:;"
               data-bind="click: onToggle">
                Style's History #</a>
            <a href="#"
                data-bind="attr: { href: styleUrl }"
                target="_blank"><span data-bind="text: styleString"></span></a>

            <span class="pull-right clickable">
                <a style="color: #333"
                    href="javascript:;"
                    data-bind="click: onToggle">
                    <i class="glyphicon glyphicon-chevron-down" data-bind="css: { 'glyphicon-chevron-down' : !isCollapsed(), 'glyphicon-chevron-up' : isCollapsed()}"></i>
                </a>
            </span>
        </div>
        <div id="collapseOrderHistoryContent" data-bind="css: { 'collapse' : isCollapsed }">
            <div class="panel-body">
                <div style="padding: 15px" data-bind="visible: isMessageMode">
                    <span data-bind="text: messageText"></span>
                </div>

                <div style="font-size: 13px; min-height: 250px">
                    <table data-bind="foreach: changes">
                        <tr>
                            <td style="padding-bottom: 6px; padding-right: 4px; padding-top: 3px; vertical-align: top">
                                <span style="font-size: 100%; font-weight: normal; border: 1px solid #ddd; background: #efefef; border-radius: 15px; padding: 5px 9px"><span data-bind="text: number"></span></span>
                            </td>
                            <td style="padding-right: 5px; padding-bottom: 6px">
                                <div>
                                    <span style="font-size: 115%;">
                                        <span style="color: #333" data-bind="textFormatted: FormattedChangeType, ifEmpty: '-'"></span></span><span class="gray">
                                        <span data-bind="visible: hasInfo">: </span>
                                        <span data-bind="visible: hasLink">
                                            <a target="_blank" data-bind="attr: { 'href': ValueUrl }"><span data-bind="textFormatted: Value, ifEmpty: '-'"></span></a>
                                        </span>
                                        <span data-bind="visible: !hasLink()">
                                            <span data-bind="textFormatted: Value, ifEmpty: ''"></span>
                                        </span>
                                        <span data-bind="html: Message"></span>
                                    </span>
                                </div>
                                <div>
                                    <span class="gray">at: </span><span data-bind="textFormatted: ChangeDate"></span><span class="gray"> - by: </span><span data-bind="textFormatted: ChangedByName, ifEmpty: 'system'"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /ko -->

<script type="text/javascript">
    var styleHistoryVm = null;

    $(document).ready(function () {

        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

        var settings = {
        };

        styleHistoryVm = new StyleHistoryViewModel(model, settings);

        ko.validation.init({
            errorElementClass: "input-validation-error",
            //errorClass: "input-validation-error",
            errorMessageClass: "field-validation-error-inline",
            decorateElement: true,
            decorateInputElement: true,
            decorateElementOnModified: true
        });

        ko.applyBindings(styleHistoryVm, document.getElementById('style-history-content'));
    });
</script>