@{
    Layout = null;
}
<script>
    function onSubmitBegin(e) {
        console.log(e);
        $("#formContent").find("#submit").showLoading("processing...");
        $("#formContent").find("#cancel").kDisable();
    }

    function onSubmitSuccess(e) {
        console.log(e);
        $("#formContent").find("#submit").hideLoading();
        $("#formContent").find("#cancel").kEnable();

        popupWindow.submit(e);
    }
</script>



@using (Ajax.BeginForm("Submit", null, FormMethod.Post, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "partialViewContainer",
    OnBegin = "onSubmitBegin",
    OnSuccess = "onSubmitSuccess",

}, new
{
    id = "formContent",
    enctype = "multipart/form-data",
    onkeypress = "return event.keyCode != 13;"
}))
{
    <div class="">
        <div class="k-edit-form-container" style="width: auto; position:static">
            <div id="partialViewContainer">
                @Html.Partial(ViewBag.PartialViewName as string)
            </div>
        </div>
    </div>
}