<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\Amazon.InventoryUpdate.Service.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  

  <appender name="UpdateEBayListingData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateEBayListingData\UpdateEBayListingData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateMagentoListingData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateMagentoListingData\UpdateMagentoListingData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  <appender name="UpdateListingsReportCOM" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReportCOM\UpdateListingsReportCOM.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsReportCA" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReportCA\UpdateListingsReportCA.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsReportMX" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReportMX\UpdateListingsReportMX.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsReportUK" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReportUK\UpdateListingsReportUK.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>



  <appender name="UpdateListingsDefectReportCOM" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsDefectReportCOM\UpdateListingsDefectReportCOM.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsDefectReportCA" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsDefectReportCA\UpdateListingsDefectReportCA.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsDefectReportMX" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsDefectReportMX\UpdateListingsDefectReportMX.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsDefectReportUK" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsDefectReportUK\UpdateListingsDefectReportUK.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  
  
  <!--<appender name="UpdateListingsOpenReport" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReport\UpdateListingsOpenReport.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsLiteReport" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsReport\UpdateListingsLiteReport.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>-->

  <appender name="UpdateFBAListingsReport" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateFBAListingsReport\UpdateFBAListingsReport.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateFBAListingsFeeReport" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateFBAListingsFeeReport\UpdateFBAListingsFeeReport.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>




  <appender name="UpdateBuyBoxStatus" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateBuyBoxStatus\UpdateBuyBoxStatus.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateSalesEnd" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateSalesEnd\UpdateSalesEnd.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateQuantityPriceFixup" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateQuantityPriceFixup\UpdateQuantityPriceFixup.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateCaches" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateCaches\UpdateCaches.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="PrintLabels" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\PrintLabels\PrintLabels.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateQuantityDistibution" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateQuantityDistibution\UpdateQuantityDistibution.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrderTrackingStatus" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrderTrackingStatus\UpdateOrderTrackingStatus.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateAmazonImage" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateAmazonImage\UpdateAmazonImage.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateFulfillmentData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateFulfillmentData\UpdateFulfillmentData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateAcknowledgementData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateAcknowledgementData\UpdateAcknowledgementData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateWalmartOrderAcknowledgment" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateWalmartOrderAcknowledgment\UpdateWalmartOrderAcknowledgment.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateAdjustmentData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateAdjustmentData\UpdateAdjustmentData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateEBayOrderData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateEBayOrderData\UpdateEBayOrderData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateMagentoOrderData" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateMagentoOrderData\UpdateMagentoOrderData.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>




  <appender name="UpdateListingsPriceOnAmazonCOM" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsPriceOnAmazonCOM\UpdateListingsPriceOnAmazonCOM.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsPriceOnAmazonCA" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsPriceOnAmazonCA\UpdateListingsPriceOnAmazonCA.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsPriceOnAmazonUK" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsPriceOnAmazonUK\UpdateListingsPriceOnAmazonUK.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>


  <appender name="UpdateEBayListingQty" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateEBayListingQty\UpdateEBayListingQty.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateMagentoListingsQty" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateMagentoListingsQty\UpdateMagentoListingsQty.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  <appender name="UpdateListingsQtyOnAmazonCOM" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsQtyOnAmazonCOM\UpdateListingsQtyOnAmazonCOM.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateListingsQtyOnAmazonCA" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsQtyOnAmazonCA\UpdateListingsQtyOnAmazonCA.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  <appender name="UpdateListingsQtyOnAmazonUK" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsQtyOnAmazonUK\UpdateListingsQtyOnAmazonUK.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  

  <appender name="UpdateListingsRating" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateListingsRating\UpdateListingsRating.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  

  <appender name="UpdateOrdersFromOrderApiCOM" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiCOM\UpdateOrdersFromOrderApiCOM.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiCA" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiCA\UpdateOrdersFromOrderApiCA.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiMX" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiMX\UpdateOrdersFromOrderApiMX.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiUK" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiUK\UpdateOrdersFromOrderApiUK.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiDE" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiDE\UpdateOrdersFromOrderApiDE.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiES" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiES\UpdateOrdersFromOrderApiES.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiFR" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiFR\UpdateOrdersFromOrderApiFR.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiIT" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiIT\UpdateOrdersFromOrderApiIT.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  

  <appender name="UpdateOrdersFromOrderApiEBay" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiEBay\UpdateOrdersFromOrderApiEBay.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiWmart" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiWmart\UpdateOrdersFromOrderApiWmart.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="UpdateOrdersFromOrderApiJet" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateOrdersFromOrderApiJet\UpdateOrdersFromOrderApiJet.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>
  
  <appender name="UpdateStampsBalance" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateStampsBalance\UpdateStampsBalance.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="SendEmails" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\SendEmails\SendEmails.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="SystemActions" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\SystemActions\SystemActions.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="AlertChecker" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\AlertChecker\AlertChecker.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>


  <appender name="UpdateEmails" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\UpdateEmails\UpdateEmails.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="25"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline"/>
    </layout>
  </appender>

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="LogFileAppender"/>
    <!--<appender-ref ref="SmtpAppender"/>-->
  </root>

  <logger additivity="false" name="UpdateEBayListingData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateEBayListingData" />
  </logger>
  <logger additivity="false" name="UpdateMagentoListingData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateMagentoListingData" />
  </logger>
  
  <logger additivity="false" name="UpdateListingsReportCOM">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsReportCOM" />
  </logger>
  <logger additivity="false" name="UpdateListingsReportCA">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsReportCA" />
  </logger>
  <logger additivity="false" name="UpdateListingsReportMX">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsReportMX" />
  </logger>
  <logger additivity="false" name="UpdateListingsReportUK">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsReportUK" />
  </logger>

  <logger additivity="false" name="UpdateListingsDefectReportCOM">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsDefectReportCOM" />
  </logger>
  <logger additivity="false" name="UpdateListingsDefectReportCA">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsDefectReportCA" />
  </logger>
  <logger additivity="false" name="UpdateListingsDefectReportMX">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsDefectReportMX" />
  </logger>
  <logger additivity="false" name="UpdateListingsDefectReportUK">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsDefectReportUK" />
  </logger>
  <!--<logger additivity="false" name="UpdateListingsOpenReport">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsOpenReport" />
  </logger>
  <logger additivity="false" name="UpdateListingsLiteReport">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsLiteReport" />
  </logger>-->
  <logger additivity="false" name="UpdateFBAListingsReport">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateFBAListingsReport" />
  </logger>
  <logger additivity="false" name="UpdateFBAListingsFeeReport">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateFBAListingsFeeReport" />
  </logger>

  <logger additivity="false" name="UpdateBuyBoxStatus">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateBuyBoxStatus" />
  </logger>
  <logger additivity="false" name="UpdateSalesEnd">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateSalesEnd" />
  </logger>
  <logger additivity="false" name="UpdateQuantityPriceFixup">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateQuantityPriceFixup" />
  </logger>
  <logger additivity="false" name="UpdateCaches">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateCaches" />
  </logger>
  <logger additivity="false" name="PrintLabels">
    <level value="DEBUG"/>
    <appender-ref ref="PrintLabels" />
  </logger>
  <logger additivity="false" name="UpdateQuantityDistibution">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateQuantityDistibution" />
  </logger>
  <logger additivity="false" name="UpdateOrderTrackingStatus">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrderTrackingStatus" />
  </logger>
  <logger additivity="false" name="UpdateAmazonImage">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateAmazonImage" />
  </logger>
  <logger additivity="false" name="UpdateFulfillmentData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateFulfillmentData" />
  </logger>
  <logger additivity="false" name="UpdateAcknowledgementData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateAcknowledgementData" />
  </logger>
  <logger additivity="false" name="UpdateWalmartOrderAcknowledgment">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateWalmartOrderAcknowledgment" />
  </logger>
  <logger additivity="false" name="UpdateAdjustmentData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateAdjustmentData" />
  </logger>
  <logger additivity="false" name="UpdateEBayOrderData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateEBayOrderData" />
  </logger>
  <logger additivity="false" name="UpdateMagentoOrderData">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateMagentoOrderData" />
  </logger>
  

  <logger additivity="false" name="UpdateListingsPriceOnAmazonCOM">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsPriceOnAmazonCOM" />
  </logger>
  <logger additivity="false" name="UpdateListingsPriceOnAmazonCA">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsPriceOnAmazonCA" />
  </logger>
  <logger additivity="false" name="UpdateListingsPriceOnAmazonUK">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsPriceOnAmazonUK" />
  </logger>


  <logger additivity="false" name="UpdateEBayListingQty">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateEBayListingQty" />
  </logger>
  <logger additivity="false" name="UpdateMagentoListingQty">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateMagentoListingQty" />
  </logger>

  
  <logger additivity="false" name="UpdateListingsQtyOnAmazonCOM">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsQtyOnAmazonCOM" />
  </logger>
  <logger additivity="false" name="UpdateListingsQtyOnAmazonCA">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsQtyOnAmazonCA" />
  </logger>
  <logger additivity="false" name="UpdateListingsQtyOnAmazonUK">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsQtyOnAmazonUK" />
  </logger>

  <logger additivity="false" name="UpdateListingsRating">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateListingsRating" />
  </logger>
  
  <logger additivity="false" name="UpdateOrdersFromOrderApiCOM">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiCOM" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiCA">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiCA" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiMX">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiMX" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiUK">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiUK" />
  </logger>
  
  <logger additivity="false" name="UpdateOrdersFromOrderApiDE">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiDE" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiES">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiES" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiFR">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiFR" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiIT">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiIT" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiEBay">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiEBay" />
  </logger>
  <logger additivity="false" name="UpdateOrdersFromOrderApiWmart">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateOrdersFromOrderApiWmart" />
  </logger>
  <logger additivity="false" name="UpdateStampsBalance">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateStampsBalance" />
  </logger>

  <logger additivity="false" name="SendEmails">
    <level value="DEBUG"/>
    <appender-ref ref="SendEmails" />
  </logger>
  <logger additivity="false" name="SystemActions">
    <level value="DEBUG"/>
    <appender-ref ref="SystemActions" />
  </logger>
  <logger additivity="false" name="AlertChecker">
    <level value="DEBUG"/>
    <appender-ref ref="AlertChecker" />
  </logger>
  <logger additivity="false" name="UpdateEmails">
    <level value="DEBUG"/>
    <appender-ref ref="UpdateEmails" />
  </logger>
</log4net>