<div id="items-by-season-graph">
    <div class="graph-button-top-panel row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"
             data-bind="foreach: types"
             style="text-align:right">
            <button type="button"
                    class="btn btn-default"
                    style="padding-top: 2px; width: 64px"
                    data-bind="css: { 'btn-success': isSelected, 'btn-default': !isSelected() }, click: select">
                <span data-bind="text: label"></span>
            </button>
        </div>
    </div>

    <div id="itemsBySeason" style="min-width: 350px; height: 300px; max-width: 650px; margin: 0 auto"></div>
</div>




<script>
    var ItemsBySeasonGraphViewModel = function () {
        var self = this;

        self.chart = null;
        self.chartData = null;

        self.selectedType = ko.observable(0);
        
        self.types = [
            {
                label: 'units',
                value: 0,
            },
            {
                label: 'styles',
                value: 1,
            }
        ];

        $.each(self.types, function (i, n) {
            n.isSelected = ko.computed(function () {
                return self.selectedType() == n.value;
            });
            n.select = function () {
                self.selectedType(n.value);
                self.showChartData();
            }
        });

        self.requestData = function () {
            while (self.chart.series.length > 0)
                self.chart.series[0].remove(true);

            self.chart.showLoading();

            $.ajax({
                cache: false,
                url: '@Url.Action("GetItemsBySeason", "Dashboard")',
                data: {
                    valueType: self.selectedType(),
                },
                success: function (result) {
                    self.chart.hideLoading();

                    if (result.IsSuccess) {
                        console.log('setCategories');
                        self.chart.xAxis[0].setCategories(result.Data.Labels, true);
                        for (var i = 0; i < result.Data.Labels.length; i++) {
                            result.Data.UnitSeries[0][i] = {
                                y: result.Data.UnitSeries[0][i],
                                name: result.Data.Labels[i]
                            },
                            result.Data.StyleSeries[0][i] = {
                                y: result.Data.StyleSeries[0][i],
                                name: result.Data.Labels[i]
                            }
                        }
                        self.chartData = result.Data;
                        self.showChartData();
                    }
                }
            });
        };

        self.showChartData = function () {
            while (self.chart.series.length > 0)
                self.chart.series[0].remove(true);
            self.chart.yAxis[0].setExtremes(null, null);

            if (self.chartData == null)
                return;

            if (self.selectedType() == 0) {
                self.chart.yAxis[0].setTitle({
                    text: 'units'
                });
                self.chart.addSeries({
                    name: 'Season',
                    innerSize: '50%',
                    data: self.chartData.UnitSeries[0],
                    tooltip: {
                        pointFormat: '<b>{point.y}</b> ({point.percentage:.1f}%)'
                    },
                    dataLabels: {
                        format: '<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)'
                    }
                });
            }
            if (self.selectedType() == 1) {
                self.chart.yAxis[0].setTitle({
                    text: 'styles'
                });
                self.chart.addSeries({
                    name: 'Season',
                    innerSize: '50%',
                    data: self.chartData.StyleSeries[0],
                    tooltip: {
                        pointFormat: '<b>{point.y}</b> ({point.percentage:.1f}%)'
                    },
                    dataLabels: {
                        format: '<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)'
                    }
                });
            }
        }

        self.init = function () {
            self.chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'itemsBySeason',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    events: {
                        load: function () {
                            self.chart = this;
                            self.requestData();
                        }
                    },
                    //spacing: [0,0,0,0]
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ""
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                //legend: {
                //    layout: 'horizontal',
                //    align: 'center',
                //    verticalAlign: 'bottom',
                //    borderWidth: 0
                //},
                plotOptions: {
                    pie: {
                        size: '55%',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                    }
                },
            });
        }

        self.init();
    }

    $(document).ready(function () {
        itemsBySeasonGraphViewModel = new ItemsBySeasonGraphViewModel();
        ko.applyBindings(itemsBySeasonGraphViewModel, document.getElementById("items-by-season-graph"));
    });
</script>
