

<div>
    <span class="gray">Sep 7, 2016</span><span> - Welcome to the new Dashboard, here you'll find important statistics and reports about your business</span>
</div>
<div style="padding-top: 8px">
    <span class="gray">Sep 8, 2016</span><span> - New version 2.4 was released, click here to find more information...</span>
</div>