<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
      <add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=pa_ccen;integrated security=False;MultipleActiveResultSets=true;User Id=ccen-service;Password=dvEre4ycHc;Connection Timeout=180" />
      <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=pa_ccen_inventory;integrated security=False;MultipleActiveResultSets=true;User Id=ccen-service;Password=dvEre4ycHc;Connection Timeout=180" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value=".\Config\log4net\debug.config" />

    <add key="JavaPath" value="C:\Program Files (x86)\Java\jre1.8.0_101\bin" />

    <add key="ReportCallbackIntervalSeconds" value="60" />
    <add key="ReportBaseDirectory" value="D:\AmazonOutput\AmazonReports\" />
    <add key="FulfillmentResponseDirectory" value="D:\AmazonOutput\Logs\FeedRes\" />

    <add key="FulfillmentRequestDirectory" value="D:\AmazonOutput\Logs\FeedReq\" />

    <add key="DefaultCustomType" value="Children Clothes" />
    <add key="LabelDirectory" value="C:\AmazonOutput" />
    <add key="ReserveDirectory" value="C:\AmazonOutput" />
    <add key="TemplateDirectory" value="C:\AmazonOutput\Templates" />

    <add key="SwatchImageDirectory" value="C:\AmazonOutput\SwatchImages" />
    <add key="SwatchImageBaseUrl" value="https://pa.commercentric.com/Image/Swatch/" />
    <add key="WalmartImageDirectory" value="C:\AmazonOutput\WalmartImages" />
    <add key="WalmartImageBaseUrl" value="https://pa.commercentric.com/Image/Walmart/" />

    <add key="JetImageDirectory" value="C:\AmazonOutput\JetImages" />
    <add key="JetImageBaseUrl" value="https://pa.commercentric.com/Image/Jet/" />

    <add key="eBayImageDirectory" value="C:\AmazonOutput\RawImages" />
    <add key="eBayImageBaseUrl" value="https://pa.commercentric.com/Image/Raw" />

    <add key="WalmartFeedBaseDirectory" value="C:\AmazonOutput\WalmartFeeds\" />
    <add key="WalmartReportBaseDirectory" value="C:\AmazonOutput\WalmartReports\" />

    <add key="UpdateListingsIntervalMinutes" value="300" />
    <add key="UpdateListingsOpenIntervalMinutes" value="60" />
    <add key="UpdateListingsLiteIntervalMinutes" value="60" />
    <add key="UpdateListingsDefectIntervalMinutes" value="300" />
    
    <add key="UpdateListingsPriceOnAmazonIntervalMinutes" value="5" />
    <add key="UpdateListingsQtyOnAmazonIntervalMinutes" value="5" />

    <add key="UpdateFBAListingsIntervalMinutes" value="60" />
    <add key="UpdateFBAListingsFeeIntervalMinutes" value="1440" />
    
    <add key="UpdateRatingIntervalMinutes" value="720" />
    <add key="UpdateFulfillmentIntervalMinutes" value="5" />
    <add key="UpdateQuantityDistributionIntervalMinutes" value="60" />
    <add key="UpdateBuyBoxIntervalMinutes" value="120" />
    <add key="UpdateSalesEndIntervalMinutes" value="180" />

    <add key="UpdateOrderTrackingStatusIntervalMinutes" value="480" />
    <add key="UpdateEmailsIntervalMinutes" value="15" />
    <add key="UpdateAmazonImageInvervalMinutes" value="300" />
   
    
    <add key="ProcessAmazonOrdersIntervalMinutes" value="10" />
    <add key="ProcessEBayOrdersIntervalMinutes" value="30" />
    <add key="ProcessJetOrdersIntervalMinutes" value="5" />

    <add key="UpdateQuantityFixupMinutes" value="60" />
    
    <add key="AwaitReadyReportIntervalMinutes" value="60" />
    <add key="MaxReportRequestAttempt" value="5" />
    <add key="ReportRequestAttemptIntervalMinutes" value="2" />

    <add key="OverdueAutoPurchaseTime" value="2:00" />
    <add key="SameDayCheckTime" value="12:45" />
    <add key="SameDayAutoPurchaseTime" value="13:05" />

    <add key="AmazonFulfillmentLatencyDays" value="1" />
    <add key="WalmartFulfillmentLatencyDays" value="1" />
    
    <add key="Support_ProcessMessageThreadTimeoutSecond" value="120" />
    <add key="Support_MaxProcessMessageErrorsCount" value="5" />

    <add key="IsSampleLabels" value="true" />
    <add key="IsDebug" value="true" />
    <add key="IsEnableSendQtyUpdates" value="false" />
    <add key="IsEnableSendPriceUpdates" value="false" />
    <add key="IsEnableSendItemUpdates" value="false" />
    <add key="IsEnableSendOrderFulfillment" value="false" />
    <add key="IsEnableSendCancelations" value="false" />
    
    <add key="IsDemo" value="false" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding" />
        <binding name="SwsimV13Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SwsimV13Soap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="SwsimV34Soap" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="SwsimV34Soap1" />
        
        <binding name="SwsimV36Soap" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="SwsimV36Soap1" />
      
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv13.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV13Soap" contract="SWSIMv13.SwsimV13Soap" name="SwsimV13Soap" />
      <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv34.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV34Soap" contract="SWSIMv34.SwsimV34Soap" name="SwsimV34Soap" />
      <endpoint address="https://swsim.stamps.com/swsim/swsimv36.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV36Soap" contract="SWSIMv36.SwsimV36Soap" name="SwsimV36Soap" />
      <endpoint address="http://www.premiumapparel.com/index.php/api/v2_soap/index/" binding="basicHttpBinding" bindingConfiguration="Binding" contract="MagentoServiceV2.PortType" name="Port" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
