<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="UserName" value="User1" />
  <add key="StampIntegrationID" value="ccfffd4c-321d-44ef-8f87-175f65850d5d" />
  <add key="StampUsername" value="rnagli" />
  <add key="StampPassword" value="All4us" />
  <add key="ADV_AWSAccessKeyID" value="AKIAJSNFNGLZLAZ445AA" />
  <add key="ADV_SecretKey" value="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" />


  <add key="eBay_DevID" value="afbad52c-4a26-4ed6-933a-67451dc5863f" />
  <add key="eBay_AppID" value="Dgtex4c35-a2d5-47cf-b2ab-c22358805f9" />
  <add key="eBay_CertID" value="64d9a859-7697-4a73-8fe1-c6c34aa40ae7" />
  <add key="eBay_EndPoint" value="https://api.ebay.com/wsapi"/>
  <add key="eBay_Token" value="AgAAAA**AQAAAA**aAAAAA**NlC1VQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AGkYWlDZeEogudj6x9nY+seQ**Mu8CAA**AAMAAA**aiOulpvlmKeAKn/C9uDqNv43SyOAnhleuzpfru5FOt3A6v9QyDknqNi0H0ZWqUT5rqRzs/apPIvSGFTQnU5KyTiLub3/uhIhYcbMn6It/9iT7u+UTUjcx3TPQootKuO2uVGPx2yWYkN8voukNIWDCAYJg/wBGjQAdrH8oYPD9F59q+GfOqgsT5PSjCLx9cHLWdHnqKymEitG1XvZt5r/gjSIghZaRFHOsB1Ah78641iR+UxEictee2SVyDdPHj7ZMtI9ebcplapwu3JxxiHaj1C3iQllt/jxv0Bevru+HzignewCBJfdh2IiuU0h87RyLChEREc0P47PGCmRhp3KJOL+R14zuUe8Yov3EDbPsAIkUpW3VPJzJp+X2jBFU+VtKtmQQymqVatMqgkeJdtvkJL6Uwpf0l6Dlz3YMf6V45a56pbnuCziX6JrvRc+xpj7p6L/TsIwPNu0ZvyP40mca/+h8CuVHvb4LTTeuBuy1z+u6GiNSJ5UNlX65cqP4hyluUg6t4lm/Fq/2VlezPqpZSH7Dm1NmnKdYfazx82QKCtcGdPQkHf8gzShGQZaG8uWDkMs/ZXr8umJLY2RIHbt+vYa/nl0ayxbaoF3wWm86nMBY+yM75jj4pGp/hfXhP4LdD3Vil0wyI+KAoTkqLyUvdCSYN5U/M81VzsB2CJhtGEBTOIXOV3jgz3gXvcwOFX7zSX2qB82OJJfBqK//uc1ykNDEaHLiujGohSxET8uUTM0b89ovI16+48REe/cjDfz" />


  <add key="SMTPServerHost" value="smtp.gmail.com" />
  <add key="SMTPServerPort" value="587" />
  <add key="SMTPEmailUsername" value="support@dgtex.com" />
  <add key="DisplayFromEmail" value="DGTEX" />
  <add key="SMTPEmailPassword" value="BestSupport4ever" />

  <add key="LabelDirectory" value="D:\AmazonOutput" />
  <add key="IsSampleLabels" value="false" />

  <add key="CanadianDollarExchangeRate" value="0.77"/>

  <add key="IsDebug" value="false" />
</appSettings>