.k-grid .size-matrix table {
    border: none;
    padding: 0px;
    margin: 0px;
}

.k-grid .size-matrix td {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 1px gray solid;
    padding: 2px;
    margin: 0px;
    min-width: 8px;
}

.k-grid .size-matrix th {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 1px #ccc solid;
    padding: 2px;
    margin: 0px;
    font-weight: normal;
    color: #333;
}

.k-grid .size-matrix .alt {
    background-color: #e5e5e5;
}

.k-grid .size-matrix .alt-h {
    background-color: #e5e5e5;
}

.k-grid .size-matrix .no-lst {
    color: #333;
}


.k-grid .size-matrix tr {
    border: none;
    padding: 0px;
    margin: 0px;
}

.export-panel {
    padding: 10px 10px 14px 10px;
}

.export-panel .flag-icon {
    display: block;
    float: right;
}

.export-panel .flag-caption {
    display: block;
    float: left;
    padding-top: 3px;
    padding-left: 4px;
}