.mobile-page {
    color: #333;
}

.mobile-page .main {
    color: #333;
}

.mobile-page #page-header .title {
    padding: 0px 0px 0px 10px;
}

.mobile-page #page-header .title h1 {
    font-size: 28px;
}

.mobile-page .stat-panel .panel {
    margin: 10px;
}

.mobile-page .stat-panel {
    padding-bottom: 20px;
}

