<connectionStrings>
  <add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=pa_ccen;integrated security=True;MultipleActiveResultSets=true;Connection Timeout=180" />
  <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=pa_ccen_inventory;integrated security=True;MultipleActiveResultSets=true;Connection Timeout=180" />
</connectionStrings>