@model Amazon.Web.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="#">Account</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div>
    <div class="panel panel-default" style="max-width: 350px;">
        <div class="panel-heading">Account info</div>

        <div class="panel-body">
            <div class="form-group">
                <label>Email:</label>
                @Html.DisplayTextFor(m => m.Email)
            </div>
            <div class="form-group">
                <label>Role:</label>
                @Html.DisplayTextFor(m => m.RoleName)
            </div>
        </div>
    </div>

    <div id="changePasswordPanel">
        @Html.Partial("_ChangePasswordPartial", Model.Password)
    </div>
</div>





