<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.1" targetFramework="net40" />
  <package id="Chart.js" version="1.0.1" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FluentFTP" version="33.0.2" targetFramework="net461" />
  <package id="Glimpse" version="1.8.2" targetFramework="net40" requireReinstallation="True" />
  <package id="Glimpse.AspNet" version="1.8.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Glimpse.Mvc4" version="1.5.3" targetFramework="net40" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.Mvc" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.MvcWebConfig" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.WebConfig" version="3.4.3" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net40" />
  <package id="itextsharp.xmlworker" version="5.5.9" targetFramework="net40" />
  <package id="jQuery" version="1.9.0" targetFramework="net40" />
  <package id="jquery.poshytip" version="1.2" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.5" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net40" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.8.2" targetFramework="net40" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net40" />
  <package id="Knockout-Validation" version="1.0.2" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net40" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="SlowCheetah" version="2.5.48" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net461" />
  <package id="T4AppSettings" version="1.1.0" targetFramework="net40" />
  <package id="T4MVC" version="3.16.0" targetFramework="net40" />
  <package id="T4MVCExtensions" version="3.16.0" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net40" />
  <package id="WebGrease" version="1.3.0" targetFramework="net40" />
</packages>