<connectionStrings>
  <!--<add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=pa_ccen_beta_11_25;integrated security=False;MultipleActiveResultSets=true;User Id=dev-web;Password=2gyYGM7Ng4;Connection Timeout=180" />
  <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=pa_ccen_beta_11_25;integrated security=False;MultipleActiveResultSets=true;User Id=dev-web;Password=2gyYGM7Ng4;Connection Timeout=180" />-->
  <add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER01;Initial Catalog=pa_ccen_beta_11_25;Integrated Security=True" />
  <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER01;Initial Catalog=pa_ccen_beta_11_25;Integrated Security=True" />
</connectionStrings>