<connectionStrings>
  <add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=mbg_ccen_beta_08_20;integrated security=False;MultipleActiveResultSets=true;User Id=igor-dev;Password=QjVqTLCsN9uB6tPj;Connection Timeout=180" />
  <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=pa_ccen_inventory;integrated security=False;MultipleActiveResultSets=true;User Id=igor-dev;Password=QjVqTLCsN9uB6tPj;Connection Timeout=180" />
</connectionStrings>