<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="SmtpAppender"/>
  </root>
  <logger name="RequestLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="RequestLogFileAppender" />
  </logger>
  <logger name="DBLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="DBLogFileAppender" />
  </logger>
  <logger name="ApiLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="ApiLogFileAppender" />
  </logger>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\apps\pa.apps\output\Logs\Amazon.Web.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="250" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RequestLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\apps\pa.apps\output\Logs\Amazon.WebRequest.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="250" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="DBLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\Logs\Amazon.DBRequest.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="25" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ApiLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\apps\pa.apps\output\Logs\Amazon.WebApi.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="250" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-7level%date{yyyy-MM-dd HH:mm:ss} [%thread] - %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="ildar@dgtex.com" />
    <from value="support@dgtex.com" />
    <subject value="Amazon Web" />
    <smtpHost value="smtp.gmail.com" />
    <authentication value="Basic" />
    <port value="587" />
    <username value="support@dgtex.com" />
    <password value="BestSupport4ever" />
    <bufferSize value="1" />
    <EnableSsl value="true" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="FATAL" />
      <!--ERROR-->
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger[%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
</log4net>