@using Amazon.Web.HtmlExtend
@using Kendo.Mvc.UI
@{
    Layout = null;
}

<script type="text/javascript">
    var MarketBarcodeModel = function(model) {
        var self = this;

        self.productUrl = ko.observable('');

        self.barcodes = ko.observableArray([]);

        self.requestBarcode = function() {
            popupWindow.customAction("requestBarcode");
            $.ajax({
                url: '@Url.Action("RequestBarcode", "MarketBarcode")',
                data: {
                    productUrl: self.productUrl()
                },
                cache: false,
                success: function(result) {
                    self.barcodes(result.Data);
                }
            });
        }

        self.barcodeText = ko.computed(function() {
            var text = "";
            for (var i = 0; i < self.barcodes().length; i++) {
                text += self.barcodes()[i].ItemId + " - " + self.barcodes()[i].Size + "/" + self.barcodes()[i].Color + " - " + self.barcodes()[i].Barcode + "\r\n";
            }
            console.log("barcodeText: " + text);
            return text;
        });

        self.close = function() {
            popupWindow.close();
        }
    };


    $(document).ready(function() {

        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var marketBarcodeModel = new MarketBarcodeModel(model);

        ko.applyBindings(marketBarcodeModel, document.getElementById('edit-container'));
    });
</script>


<div id="edit-container" class="inventory-popup">
    @Html.ValidationSummary(true)

    <div class="k-edit-form-container" style="margin-bottom: 15px; width: 650px">
        <div>
            <div>
                <div class="editor-label" style="width: 150px">Market Product Url:</div>
                <div class="editor-field" style="padding-top: 5px">
                    <textarea rows="3" data-bind="value: productUrl" style="width: 420px" class="k-textbox" />
                </div>
            </div>
            <div>
                <div class="editor-label" style="width: 30%">Found barcodes:</div>
                <div class="editor-field" style="padding-top: 5px">
                    <textarea rows="5" data-bind="value: barcodeText" style="width: 420px" class="k-textbox" />
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="k-edit-buttons k-state-default">
            <a class="k-button k-button-icontext" data-bind="click: requestBarcode">
                <span class="k-icon k-update"></span> Search barcodes
            </a>
            <a class="k-button k-button-icontext" data-bind="click: close">
                <span class="k-icon k-cancel"></span> Close
            </a>
        </div>
    </div>
</div>
