<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource=".\Config\ConnectionStrings.config" />
  <appSettings>
    <add key="log4net.Config" value=".\Config\log4net\debug.config" />

    <add key="JavaPath" value="C:\Program Files\Java\jre1.8.0_171\bin" />
    
    <add key="RequestIntervalSec" value="120" />
    <add key="ReportDirectory" value="C:\AmazonOutput\AmazonReports\" />
    <add key="FulfillmentResponseDirectory" value="C:\AmazonOutput\Logs\FeedRes\" />
    <add key="FulfillmentRequestDirectory" value="C:\AmazonOutput\Logs\FeedReq\" />
    <add key="WalmartFeedBaseDirectory" value="C:\AmazonOutput\WalmartFeeds\" />
    <add key="WalmartReportBaseDirectory" value="C:\AmazonOutput\WalmartReports\" />

    <add key="SwatchImageDirectory" value="C:\AmazonOutput\SwatchImages" />
    <add key="SwatchImageBaseUrl" value="https://paimg.commercentric.com/Image/Swatch" />
    <add key="WalmartImageDirectory" value="C:\AmazonOutput\WalmartImages" />
    <add key="WalmartImageBaseUrl" value="https://paimg.commercentric.com/Image/Walmart" />
    <add key="JetImageDirectory" value="C:\AmazonOutput\JetImages" />
    <add key="JetImageBaseUrl" value="https://paimg.commercentric.com/Image/Jet" />
    <add key="eBayImageDirectory" value="C:\AmazonOutput\RawImages" />
    <add key="eBayImageBaseUrl" value="https://paimg.commercentric.com/Image/Raw" />
    <add key="GrouponImageDirectory" value="C:\AmazonOutput\GrouponImages" />
    <add key="GrouponImageBaseUrl" value="http://paimg.commercentric.com/GrouponImages" />
    
    <add key="InventoryReportRequestIntervalHour" value="5" />
    <add key="OrdersReportRequestIntervalHour" value="4" />
    <add key="ProcessOrdersIntervalHour" value="1" />
    <add key="UpdateFulfillmentIntervalMinute" value="1" />
    <add key="AwaitReadyReportIntervalHour" value="6" />
    <add key="MaxRequestAttempt" value="5" />

    <add key="OverdueAutoPurchaseTime" value="2:00" />

    <add key="AmazonFulfillmentLatencyDays" value="1" />
    <add key="WalmartFulfillmentLatencyDays" value="1" />
    
    <add key="SMTP_ServerHost" value="smtp.gmail.com" />
    <add key="SMTP_ServerPort" value="587" />
    <add key="SMTP_EmailUsername" value="support@dgtex.com" />
    <add key="SMTP_EmailPassword" value="BestSupport4ever" />
    <add key="SMTP_DisplayFromEmail" value="DGTEX" />
    <add key="SMTP_FromEmail" value="support@dgtex.com" />

    <add key="Support_ServerHost" value="imap.gmail.com" />
    <add key="Support_ServerPort" value="993" />
    <add key="Support_EmailUsername" value="support@dgtex.com" />
    <add key="Support_DisplayFromEmail" value="Premium Apparel" />
    <add key="Support_EmailPassword" value="BestSupport4ever" />

    <add key="Support_ProcessMessageThreadTimeoutSecond" value="120" />
    <add key="Support_MaxProcessMessageErrorsCount" value="5" />

    <add key="Support_AttachmentDirectory" value="C:\AmazonOutput\EmailAttachments\" />
    <add key="Support_AttachmentFolderRelativeUrl" value="~/Content/EmailAttachments/" />
    
    <add key="UserName" value="User1" />

    <add key="DefaultCustomType" value="Children Clothes" />
    <add key="LabelDirectory" value="C:\AmazonOutput" />
    <add key="ReserveDirectory" value="C:\AmazonOutput" />
    <add key="TemplateDirectory" value="C:\AmazonOutput\Templates" />
    <add key="IsSampleLabels" value="true" />

    <add key="IsDebug" value="true" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding" />
        
        <binding name="SwsimV13Soap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SwsimV13Soap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="SwsimV34Soap" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="SwsimV34Soap1" />
        
        <binding name="SwsimV36Soap" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="SwsimV36Soap1" />
        <binding name="USHolidayServiceSoap" />
        <binding name="abolapiSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>

        <binding name="pkgFormServiceSOAP" />
      </basicHttpBinding>
      <customBinding>
        <binding name="abolapiSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv13.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV13Soap" contract="SWSIMv13.SwsimV13Soap" name="SwsimV13Soap" />
      <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv34.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV34Soap" contract="SWSIMv34.SwsimV34Soap" name="SwsimV34Soap" />
      <endpoint address="https://swsim.stamps.com/swsim/swsimv36.asmx" binding="basicHttpBinding" bindingConfiguration="SwsimV36Soap" contract="SWSIMv36.SwsimV36Soap" name="SwsimV36Soap" />
      <endpoint address="http://www.holidaywebservice.com/Holidays/US/USHolidayService.asmx" binding="basicHttpBinding" bindingConfiguration="USHolidayServiceSoap" contract="USHolidayService.USHolidayServiceSoap" name="USHolidayServiceSoap" />
      <endpoint address="http://www.premiumapparel.com/index.php/api/v2_soap/index/" binding="basicHttpBinding" bindingConfiguration="Binding" contract="MagentoServiceV2.PortType" name="Port" />
      <endpoint address="http://testapi.iabol.com/api/abolapi.asmx" binding="basicHttpBinding" bindingConfiguration="abolapiSoap" contract="AbolAPI.abolapiSoap" name="abolapiSoap" />

      <endpoint address="http://www.shipfims.com/pkgFedex3/pkgFormService" binding="basicHttpBinding" bindingConfiguration="pkgFormServiceSOAP" contract="pkgFormService.pkgFormService" name="pkgFormServiceSOAP" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
