<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.3.0.0" targetFramework="net461" />
  <package id="CsvHelper" version="2.11.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FluentFTP" version="33.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NPOI" version="2.2.1" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>