<connectionStrings>
  <add name="AmazonContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=blonde_ccen;integrated security=False;MultipleActiveResultSets=true;User Id=blonde-web;Password=y4SnuHXmKBS3;Connection Timeout=180" />
  <add name="InventoryContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.227.109.197;initial catalog=pa_ccen_inventory;integrated security=False;MultipleActiveResultSets=true;User Id=hdea-web;Password=EZTM3Mazx6cy;Connection Timeout=180" />
</connectionStrings>